

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
# System Files
.DS_Store
Thumbs.db

# Maven
target/
sample-data/
.factorypath
*.versionsBackup
*.releaseBackup
release.properties
.java-version
