@import '_default_variables';

$is-dark: false;
$primary-palette: $mat-gray;
$accent-palette: $mat-deep-orange;
$warn-palette: $mat-red;
$foreground-palette: $mat-light-theme-foreground;
$background-palette: $mat-light-theme-background;
