@import '_default_variables';

$primary-palette: (
  50: rgba(236, 239, 241, 1),
  100: rgba(207, 216, 220, 1),
  200: rgba(176, 190, 197, 1),
  300: rgba(144, 164, 174, 1),
  400: rgba(120, 144, 156, 1),
  500: rgba(96, 125, 139, 1),
  600: rgba(84, 110, 122, 1),
  700: rgba(69, 90, 100, 1),
  800: rgba(55, 71, 79, 1),
  900: rgba(38, 50, 56, 1),
  A100: rgba(207, 216, 220, 1),
  A200: rgba(176, 190, 197, 1),
  A400: rgba(120, 144, 156, 1),
  A700: rgba(69, 90, 100, 1),
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(255, 255, 255, 1),
    500: rgba(255, 255, 255, 1),
    600: rgba(255, 255, 255, 1),
    700: rgba(255, 255, 255, 1),
    800: rgba(255, 255, 255, 1),
    900: rgba(255, 255, 255, 1),
    A100: rgba(0, 0, 0, 0.87),
    A200: rgba(0, 0, 0, 0.87),
    A400: rgba(255, 255, 255, 1),
    A700: rgba(255, 255, 255, 1)
  )
);

$accent-palette: (
  50: rgba(251, 233, 231, 1),
  100: rgba(255, 204, 188, 1),
  200: rgba(255, 171, 145, 1),
  300: rgba(255, 138, 101, 1),
  400: rgba(255, 112, 67, 1),
  500: rgba(255, 87, 34, 1),
  600: rgba(244, 81, 30, 1),
  700: rgba(230, 74, 25, 1),
  800: rgba(216, 67, 21, 1),
  900: rgba(191, 54, 12, 1),
  A100: rgba(255, 158, 128, 1),
  A200: rgba(255, 110, 64, 1),
  A400: rgba(255, 61, 0, 1),
  A700: rgba(221, 44, 0, 1),
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: rgba(255, 255, 255, 1),
    600: rgba(255, 255, 255, 1),
    700: rgba(255, 255, 255, 1),
    800: rgba(255, 255, 255, 1),
    900: rgba(255, 255, 255, 1),
    A100: rgba(0, 0, 0, 0.87),
    A200: rgba(0, 0, 0, 0.87),
    A400: rgba(255, 255, 255, 1),
    A700: rgba(255, 255, 255, 1)
  )
);

$warn-palette: (
  50: rgba(224, 247, 250, 1),
  100: rgba(178, 235, 242, 1),
  200: rgba(128, 222, 234, 1),
  300: rgba(77, 208, 225, 1),
  400: rgba(38, 198, 218, 1),
  500: rgba(0, 188, 212, 1),
  600: rgba(0, 172, 193, 1),
  700: rgba(0, 151, 167, 1),
  800: rgba(0, 131, 143, 1),
  900: rgba(0, 96, 100, 1),
  A100: rgba(132, 255, 255, 1),
  A200: rgba(24, 255, 255, 1),
  A400: rgba(0, 229, 255, 1),
  A700: rgba(0, 184, 212, 1),
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: rgba(255, 255, 255, 1),
    600: rgba(255, 255, 255, 1),
    700: rgba(255, 255, 255, 1),
    800: rgba(255, 255, 255, 1),
    900: rgba(255, 255, 255, 1),
    A100: rgba(0, 0, 0, 0.87),
    A200: rgba(0, 0, 0, 0.87),
    A400: rgba(0, 0, 0, 0.87),
    A700: rgba(0, 0, 0, 0.87)
  )
);

$background-palette: (
  status-bar: rgba(0, 0, 0, 1),
  app-bar: rgba(33, 33, 33, 1),
  background: rgba(48, 48, 48, 1),
  hover: rgba(255, 255, 255, 0.04),
  card: rgba(66, 66, 66, 1),
  dialog: rgba(66, 66, 66, 1),
  disabled-button: rgba(255, 255, 255, 0.12),
  raised-button: rgba(66, 66, 66, 1),
  focused-button: rgba(255, 255, 255, 0.12),
  selected-button: rgba(33, 33, 33, 1),
  selected-disabled-button: rgba(66, 66, 66, 1),
  disabled-button-toggle: rgba(0, 0, 0, 1),
  unselected-chip: rgba(97, 97, 97, 1),
  disabled-list-option: rgba(0, 0, 0, 1)
);

$foreground-palette: (
  base: rgba(255, 255, 255, 1),
  divider: rgba(255, 255, 255, 0.12),
  dividers: rgba(255, 255, 255, 0.12),
  disabled: rgba(255, 255, 255, 0.5),
  disabled-button: rgba(255, 255, 255, 0.3),
  disabled-text: rgba(255, 255, 255, 0.5),
  elevation: rgba(0, 0, 0, 1),
  hint-text: rgba(255, 255, 255, 0.5),
  secondary-text: rgba(255, 255, 255, 0.7),
  icon: rgba(255, 255, 255, 1),
  icons: rgba(255, 255, 255, 1),
  text: rgba(255, 255, 255, 1),
  slider-min: rgba(255, 255, 255, 1),
  slider-off: rgba(255, 255, 255, 0.3),
  slider-off-active: rgba(255, 255, 255, 0.3)
);
