<!DOCTYPE html>
<html lang="en">
  <head>
    <% head.forEach(function(headObject){ %>
      <%- headObject.tag %>
    <% }) %>
  </head>

  <body class="mat-app-background mat-typography">
    <fuse-splash-screen id="fuse-splash-screen">
      <div class="center">
        <div class="logo"><img src="./assets/logos/logo.svg" width="250" /></div>
        <div class="spinner-wrapper">
          <div class="spinner">
            <div class="inner">
              <div class="gap"></div>
              <div class="left"><div class="half-circle"></div></div>
              <div class="right"><div class="half-circle"></div></div>
            </div>
          </div>
        </div>
      </div>
    </fuse-splash-screen>
    <app-root></app-root>
    <% body.forEach(function(bodyObject){ %>
      <%- bodyObject.tag %>
    <% }) %>
  </body>
</html>
