@import '_default_variables';

$primary-palette: (
  50: #e0e9ef,
  100: #b3c8d7,
  200: #80a3bd,
  300: #4d7ea3,
  400: #26638f,
  500: #00477b,
  600: #004073,
  700: #003768,
  800: #002f5e,
  900: #00204b,
  A100: #7fa8ff,
  A200: #4c85ff,
  A400: #1963ff,
  A700: #0052fe,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: rgba(255, 255, 255, 1),
    600: rgba(255, 255, 255, 1),
    700: rgba(255, 255, 255, 1),
    800: rgba(255, 255, 255, 1),
    900: rgba(255, 255, 255, 1),
    A100: rgba(0, 0, 0, 0.87),
    A200: rgba(255, 255, 255, 1),
    A400: rgba(255, 255, 255, 1),
    A700: rgba(255, 255, 255, 1)
  )
);

$accent-palette: (
  50: #eaf1f7,
  100: #cadcec,
  200: #a7c5df,
  300: #83add2,
  400: #699cc8,
  500: #4e8abe,
  600: #4782b8,
  700: #3d77af,
  800: #356da7,
  900: #255a99,
  A100: #d8e9ff,
  A200: #a5ccff,
  A400: #72afff,
  A700: #58a0ff,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: rgba(255, 255, 255, 1),
    600: rgba(255, 255, 255, 1),
    700: rgba(255, 255, 255, 1),
    800: rgba(255, 255, 255, 1),
    900: rgba(255, 255, 255, 1),
    A100: rgba(0, 0, 0, 0.87),
    A200: rgba(0, 0, 0, 0.87),
    A400: rgba(0, 0, 0, 0.87),
    A700: rgba(255, 255, 255, 1)
  )
);

$warn-palette: (
  50: rgba(255, 235, 238, 1),
  100: rgba(255, 205, 210, 1),
  200: rgba(239, 154, 154, 1),
  300: rgba(229, 115, 115, 1),
  400: rgba(239, 83, 80, 1),
  500: rgba(244, 67, 54, 1),
  600: rgba(229, 57, 53, 1),
  700: rgba(211, 47, 47, 1),
  800: rgba(198, 40, 40, 1),
  900: rgba(183, 28, 28, 1),
  A100: rgba(255, 138, 128, 1),
  A200: rgba(255, 82, 82, 1),
  A400: rgba(255, 23, 68, 1),
  A700: rgba(213, 0, 0, 1),
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: rgba(255, 255, 255, 1),
    600: rgba(255, 255, 255, 1),
    700: rgba(255, 255, 255, 1),
    800: rgba(255, 255, 255, 1),
    900: rgba(255, 255, 255, 1),
    A100: rgba(0, 0, 0, 0.87),
    A200: rgba(255, 255, 255, 1),
    A400: rgba(255, 255, 255, 1),
    A700: rgba(255, 255, 255, 1)
  )
);

$background-palette: (
  status-bar: rgba(224, 224, 224, 1),
  app-bar: rgba(245, 245, 245, 1),
  background: rgba(250, 250, 250, 1),
  hover: rgba(0, 0, 0, 0.04),
  card: rgba(255, 255, 255, 1),
  dialog: rgba(255, 255, 255, 1),
  disabled-button: rgba(0, 0, 0, 0.12),
  raised-button: rgba(255, 255, 255, 1),
  focused-button: rgba(0, 0, 0, 0.12),
  selected-button: rgba(224, 224, 224, 1),
  selected-disabled-button: rgba(189, 189, 189, 1),
  disabled-button-toggle: rgba(238, 238, 238, 1),
  unselected-chip: rgba(224, 224, 224, 1),
  disabled-list-option: rgba(238, 238, 238, 1)
);

$foreground-palette: (
  base: rgba(0, 0, 0, 1),
  divider: rgba(0, 0, 0, 0.12),
  dividers: rgba(0, 0, 0, 0.12),
  disabled: rgba(0, 0, 0, 0.38),
  disabled-button: rgba(0, 0, 0, 0.26),
  disabled-text: rgba(0, 0, 0, 0.38),
  elevation: rgba(0, 0, 0, 1),
  hint-text: rgba(0, 0, 0, 0.38),
  secondary-text: rgba(0, 0, 0, 0.54),
  icon: rgba(0, 0, 0, 0.54),
  icons: rgba(0, 0, 0, 0.54),
  text: rgba(0, 0, 0, 0.87),
  slider-min: rgba(0, 0, 0, 0.87),
  slider-off: rgba(0, 0, 0, 0.26),
  slider-off-active: rgba(0, 0, 0, 0.38)
);
